@font-face {
  font-family: 'Inter';
  src: url(./tools/InterTight-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

.background-desktop {
  margin: 0;
  padding: 0;
  background-image: url(./tools/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.desktop-nav-container {
  visibility: hidden;
}

.head {
  padding: 24px;
}

.mobile-navhead {
  display: flex;
  padding: 24px;
}

.pagename {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #28352f;
}

.nav-icon {
  margin-left: auto;
}

.welcome {
  display: grid;
  padding: 24px;
  justify-content: center;
}

h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}

.greetings {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.profession {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #36b37f;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
  padding: 24px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 20px;
  margin-bottom: 58px;
}

ul > li {
  list-style-type: none;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.mywork {
  display: grid;
  padding: 22px;
  justify-content: center;
  gap: 24px;
}

.rece-indi {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 22px;
  gap: 24px;
}

.recents-page {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.mywork-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 2px;
  gap: 24px;
}

.project-template {
  width: 100%;
  height: 474px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column-reverse;
}

.place-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: #fff;
  border-radius: 8px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.pr-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  height: 32px;
  width: 100%;
  justify-content: center;
}

.language {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  letter-spacing: 0.03em;
}

.button {
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  gap: 10px;
  border: #36b37f 0;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  transition: height 1s, width 1s, background-color 2s;
}

.button:hover {
  width: 15rem;
  height: 3.4rem;
}

.about-me-page {
  display: grid;
  padding: 64px 24px;
  gap: 58px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.titles-about-me {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  max-width: 920px;
  padding: 24px;
}

.button-resume {
  background: #36b37f;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: #36b37f 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.language-container {
  display: grid;
  padding: 1px;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.resume-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 352px;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

.blue {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  padding: 1rem;
}

.about-language {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 11px;
  gap: 8px;
  justify-content: center;
}

.green {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
}

.footer {
  display: grid;
  padding: 64px 24px;
  gap: 58px;
}

.contact-par {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  /* max-width: 100%; */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.personal-info {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  height: 48px;
  min-width: 327px;
  padding: 1rem;
}

.cmt-area {
  background: #fff;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 327px;
  height: 114px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding: 1rem;
  box-sizing: border-box;
  min-width: 327px;
}

.socials2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 20px;
  margin-bottom: 58px;
}

.socials-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dev-email {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

@media all and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .nav-bar {
    padding: 0;
    margin-top: -5em;
  }

  .background-desktop {
    background-image: url(./tools/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover 100%;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0;
    gap: 24px;
  }

  .mobile-navhead {
    visibility: hidden;
  }

  .indicator {
    visibility: hidden;
  }

  .desktop-nav-container {
    visibility: visible;
    display: flex;
    justify-content: center;
    gap: 2rem;
    top: 0;
  }

  .description {
    max-width: 920px;
    padding: 1.5rem;
  }

  .desktop-nav-container li > a {
    text-decoration: none;
    color: #172b4d;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }

  .mywork {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 329px));
    gap: 1.5rem;
    justify-content: center;
    padding: 70px 54px;
  }

  .rece-indi {
    padding-top: 100px;
  }

  .project-template {
    width: 100%;
  }

  .pr-language {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .language-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 329px));
    gap: 1.5rem;
    justify-content: center;
    padding: 48px;
  }

  .resume-card {
    width: 100%;
    justify-content: center;
    padding: 6px;
  }

  .about-me-page {
    padding: 80px 22px;
    gap: 48px;
    justify-content: center;
    background-image: url(./tools/desktop-assets/illustration-about\ me-1-desktop.svg), url(./tools/desktop-assets/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150px 244px, 150px 129px;
    background-position: top -2rem right -1rem, bottom 36rem left -1.6rem;
  }

  .footer {
    padding: 80px 90px 200px 90px;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 100px;
    background-image: url(./tools/desktop-assets/illustration-1-contact-form-desktop.svg), url(./tools/desktop-assets/illustration-2-contact-form-desktop.svg), url(./tools/desktop-assets/contact\ form-illustratoin-3-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150px, 150px, 190px;
    background-position: bottom left, bottom 5.5rem left 17rem, bottom 0.4rem right;
  }

  .socials-footer {
    padding: 1rem 0 0 0;
    width: 100%;
    border-top: #dfe1e6 1px solid;
  }

  .form {
    align-items: start;
  }

  .contact-par {
    padding-left: 30px;
  }

  .personal-info,
  .cmt-area {
    width: 92%;
  }

  .dev-email {
    visibility: hidden;
  }

  .getin {
    align-self: start;
  }
}
